@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  color: white !important;
  background-color: #ebeef7;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* movies */

h3 {
  font-size: 20px !important;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 90px !important;
  background-color: #e2e4f7;
}

.movie {
  background-color: #373b69;
  margin: 1rem;
  width: 300px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-overview {
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
  color: #22254b;
  position: absolute;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-overview {
  transform: translateY(0%);
}

.movie:hover {
  transform: scale(1.1);
}

/* vehicles */

.vehicles {
  justify-content: center;
  border-radius: 3px;
  border: 2px solid black;
  margin-bottom: 300px;
  margin-top: 50px;
  margin-left: 15px;
  color: black;
}


.card {
  margin-top: -30px !important;
  margin-left: 50px !important;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1) !important;
  background-color: #888 !important;
  border: none !important;
  color: white !important;
}